<div *ngIf="!isCreatingCategory; else createCategoryForm">
  <app-product-form [categories]="(categories$ | async) || []"
                    (close)="closeDialog()"
                    (productToSave)="saveProduct($event)"
                    (createCategory)="enableCreateCategory()"
                    [productToEdit]="product"
  ></app-product-form>
</div>

<ng-template #createCategoryForm>
  <app-category-form (categoryToSave)="createCategory($event)" (goBack)="enableCreateCategory()"></app-category-form>
</ng-template>
