<div class="main-container">
  <div>
    <h3>Create Category</h3>
  </div>
  <div class="flex-column">
    <mat-form-field appearance="outline">
      <mat-label>name</mat-label>
      <input type="text" matInput placeholder="category name" [formControl]="categoryNameForm">
    </mat-form-field>

    <mat-card-actions class="buttons-container">
      <button mat-button (click)="goBack.emit()" type="button">Atras</button>
      <button mat-flat-button [disabled]="categoryNameForm.invalid" (click)="categoryToSave.emit(categoryNameForm.value)">Create</button>
    </mat-card-actions>
  </div>
</div>
