.container-products {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.title-container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

.text-list-empty {
  display: flex;
  justify-content: center;
  color: #e64b4b;
  font-weight: bold;
}
