<div class="product-form-container">
  <div>
    <h3>Add Product</h3>
  </div>

  <form class="flex-column" [formGroup]="productForm" (ngSubmit)="saveProduct(productForm.value)">
    <mat-form-field class="padding-5" appearance="outline">
      <mat-label>name</mat-label>
      <input type="text" matInput placeholder="product name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="padding-5" appearance="outline">
      <mat-label>price (pesos) </mat-label>
      <input type="number" matInput placeholder="product price" formControlName="price">
      <mat-hint align="start" class="red-color" *ngIf="productForm.controls['price'].hasError('invalidNumber')">price has be positive</mat-hint>
    </mat-form-field>

    <mat-form-field class="padding-5" appearance="outline">
      <mat-label>stock</mat-label>
      <input type="number" matInput placeholder="product stock" formControlName="stock">
      <mat-hint align="start" class="red-color" *ngIf="productForm.controls['stock'].hasError('invalidNumber')">stock has be positive</mat-hint>
    </mat-form-field>

    <mat-form-field class="padding-5" appearance="outline">
      <mat-select placeholder="select category name" formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.categoryName}}</mat-option>
        <mat-option style="display: flex; flex-direction: row-reverse" (click)="createCategory.emit()">
          <span>create category</span>
          <mat-icon>add_circle</mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card-actions class="buttons-container">
      <button mat-stroked-button (click)="close.emit()" type="button">Cancel</button>
      <button mat-flat-button type="submit" [disabled]="productForm.invalid">{{buttonAction}}</button>
    </mat-card-actions>
  </form>
</div>
